<div class="lyo-container">


<nav class="header1">
    <ul class="nav-header-ul">
        <li>
            Table Component for Ernest's interview
        </li>
        <li>
            <a href="https://www.linkedin.com/in/ernestoquesada/" >Linkedin Profile</a>
        </li>

    </ul>
</nav>
<nav class="header2">
        <ul class="nav-header-ul">
            <li>
                <a [routerLink]="['/standard-table']" >Standard Table</a>
            </li>
            <li>
                <a [routerLink]="['/infinity-table']" >Infinity Table</a>
            </li>
        </ul>
</nav>
    


<main>
    <router-outlet></router-outlet>
</main>
</div>


