nav { 
    text-align: center;
    width: 100%;
    position: fixed;
    .nav-header-ul {
        display: flex;
        justify-content: space-evenly
    }
}
nav.header1 {
        font-size: 1.2rem;
        background-color: rgba(222, 223, 224, 0.5);
        top: 0;
        height: 56px;
    }
nav.header2 {
        top:56px;
        height: 56px;
        border-bottom: 1px solid lightgrey;
    }

    li{
        display: inline;
    }
    // .table-container {
    //     position: fixed;
    //     top: 112px;
    //     background-color: red;
    //     width: 100vw;
    //     height: 80vh;
    //     margin: 1rem;
    //     overflow-y: scroll;
    //     // margin-right: 1rem;
    // }
    
