<div>
        <table>
          <thead>
            <tr>
              <th>Header one *leads the width* (case 1)</th>
              <th>Header two</th>
              <th>Header three</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
            <tr>
              <td>Column one</td>
              <td>Column two *leads the width* (case 2)</td>
              <td>Column three</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>Footer one</td>
              <td>Footer two</td>
              <td>Footer three *leads the width* (case 3)</td>
            </tr>
          </tfoot>
        </table>
      </div>
